
.menu
{
    display: flex;
    justify-content: center;
    /* justify-content: space-between ; */
}

.menu .text a{
    text-decoration: none;
    /* padding-left: 55px;  */
    /* padding-right: 40px; / */
    /* margin-left: 20px;
    margin-left: 30px; */
    padding: 40px;
}

.menu img{
    max-height: 100px;
    padding-left: 30px;
    /* padding: 0px 15px 0px 10px; */
}
/* .menu .text
{
    padding:0px 15px 0px 15px ;
} */